.contact-title{
text-align: center;
text-transform: uppercase;
font-weight: bold;
font-size: 30px;
margin: 25px;

      
}

.redes-grid ul{
    display: grid;
    list-style: none;
    grid-template-columns: auto auto auto auto auto;
}


.redes-img{
    width: 40px;
    
    filter: invert(25%) sepia(30%) saturate(109%) hue-rotate(314deg) brightness(85%) contrast(80%);
}


.redes-img:hover{
    cursor: pointer;
    filter: blur(1px);
}




@media (min-width: 950px) {
    .contact-title{
    font-size: 50px;
    margin: 35px 0;
    }


    .redes-img{
        width: 60px;
    }
}